/*********公用样式部分**********/

.bg-default{
    background:#6a8abe;
    box-shadow: 0 5px 0 #5f7cab;
}
.bg-warning{
    background: #fc8675;
    box-shadow: 0 5px 0 #e27869;
}
.bg-blue{
    background:#5ab6df;
    box-shadow:0 5px 0 #51a3c8;
}
.bg-green{
    background: #4acacb;
    box-shadow:0 5px 0 #42b5b6
}
.c-yellow{
  color:#eea236;
}