<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <script type="text/javascript" src="/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <title>添加医生</title>
</head>
<body>

<div class="page-container">
    <form class="form form-vertical" id="form_add" action="/device/ajax_add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">医院编号:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$hospital_no}" id="hospital_no" readonly>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">医院名称:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$hospital_name}" id="hospital_name" readonly>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">用户姓名:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="doctor_name" name="doctor_name" maxlength="21" autofocus required placeholder="同一家医院内用户姓名不能重复">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">密码:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="pwd" name="pwd" maxlength="32" required placeholder="密码只能是数字、字母和下划线,不少于6个字符">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">重复密码:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="pwd2" name="pwd2" maxlength="32" required placeholder="">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">手机号:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="mobile" name="mobile" placeholder="">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">职称:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <span class="select-box radius">
                    <select class="select" size="1" id="level">
                        <option value="" selected>选择职称</option>
                        <option value="见习生">见习生</option>
                        <option value="住院医师">住院医师</option>
                        <option value="主治医师">主治医师</option>
                        <option value="副主任医师">副主任医师</option>
                        <option value="主任医师">主任医师</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">学历:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <span class="select-box radius">
                    <select class="select" size="1" id="learn_level">
                        <option value="" selected>选择学历</option>
                        <option value="本科">本科</option>
                        <option value="研究生">研究生</option>
                        <option value="博士">博士</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">部门:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="department" name="department" placeholder="">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">头像:</label>
            <span class="btn-upload col-xs-8 col-sm-6">
                <input class="input-text upload-url radius" type="text" id="uploadfile" readonly>
                <a href="javascript:void(0);" class="btn btn-primary radius"><i
                        class="Hui-iconfont Hui-iconfont-upload"></i>浏览文件</a>
                <input type="file" multiple name="file" class="input-file">
            </span>
            <input type="hidden" id="logo" value="">

        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">签名:</label>
            <span class="btn-upload col-xs-8 col-sm-6">
                <input class="input-text upload-url radius" type="text" id="uploadfile1" readonly>
                <a href="javascript:void(0);" class="btn btn-primary radius"><i
                        class="Hui-iconfont Hui-iconfont-upload"></i>浏览文件</a>
                <input type="file" multiple name="file" class="input-file">
            </span>
            <input type="hidden" id="sign_pic" value="">

        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">有效期:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="valid_sec" name="valid_sec" placeholder="单位(天)">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="button" id="btnSubmit" class="btn btn-primary radius text-c" value="提交">
            </div>
        </div>

    </form>


</div>

</body>

<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>

<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/additional-methods.js"></script>



<script type="text/javascript">
    var form = $('#form_add');

    $(document).ready(function () {
        form.validate({
            rules:{
                machine_code:{
                    required:true,
                    maxlength:32,
                    remote:{
                        url:'/device/ajax_exist',
                        type:'post',
                        data:{
                            machine_code:function(){
                                return $('#machine_code').val();
                            }
                        }
                    }
                },
                valid_sec:{
                    digits:true
                }
            },
            messages:{
                machine_code:{
                    required:"机器码不能为空",
                    remote:"机器码已经存在"
                },
                valid_sec:{
                    digits:"必须为数字,单位(天)"
                }
            }
        });

        $('#btnSubmit').on('click', function () {
            if(form.valid()){
                $.post('/device/ajax_add',{'machine_code': $('#machine_code').val(),'hospital_no': $('#hospital_no').val(),'valid_sec': $('#valid_sec').val()},function (data) {
                    if(data==0){
                        alert('添加成功');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                    else{
                        alert(data);
                    }
                });
            }

        });

    });


</script>

</html>