<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <script type="text/javascript" src="/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fileinput.min.css">


    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <title>添加医生</title>


</head>
<body>

<div class="page-container">
    <form class="form form-vertical" id="form_add" action="">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">医院编号:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$hospital_no}"
                       id="hospital_no" readonly>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">医院名称:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$hospital_name}"
                       id="hospital_name" readonly>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">用户姓名:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="doctor_name" name="doctor_name" maxlength="21"
                       autofocus required placeholder="同一家医院内用户姓名不能重复">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">密码:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="pwd" name="pwd" maxlength="32" minlength="6"
                       required placeholder="不少于6个字符">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">重复密码:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="pwd2" name="pwd2" maxlength="32" minlength="6"
                       required placeholder="">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">手机号:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="mobile" name="mobile" placeholder="">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">职称:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <span class="select-box radius">
                    <select class="select" size="1" id="level">
                        <option value="" selected>选择职称</option>
                        <option value="技士">技士</option>
                        <option value="技师">技师</option>
                        <option value="主管技师">主管技师</option>
                        <option value="副主任技师">副主任技师</option>
                        <option value="主任技师">主任技师</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">学历:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <span class="select-box radius">
                    <select class="select" size="1" id="learn_level">
                        <option value="" selected>选择学历</option>
                        <option value="博士">博士</option>
                        <option value="研究生">研究生</option>
                        <option value="本科">本科</option>
                        <option value="专科">专科</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">部门:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="department" name="department" placeholder="">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">角色:</label>
            <input type="hidden" id="role" value="">
            <div class="formControls col-xs-8 col-sm-9">

                <div class="col-sm-3">
                    <span>拍摄</span>
                    <input type="checkbox" checked id="role1" value="1" name="role">
                </div>

                <div class="col-sm-3">
                    <span>会诊</span>
                    <input type="checkbox" checked id="role2" value="2" name="role">
                </div>

                <br>

                <div class="col-sm-3">
                    <span>审核</span>
                    <input type="checkbox" checked id="role3" value="4" name="role">
                </div>

                <div class="col-sm-3">
                    <span>观察</span>
                    <input type="checkbox" id="role4" value="8" name="role">
                </div>

            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">头像:</label>
            <span class=" col-xs-8 col-sm-6">
                <input id="input-id" name="file" type="file" class="file-input"  >
            </span>
            <input type="hidden" id="logo" value="">

        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">签名:</label>
            <span class=" col-xs-8 col-sm-6">
                <input id="input-id2" name="file" type="file" class="file-input"  >
            </span>
            <input type="hidden" id="sign_pic" value="">

        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">描述:</label>
            <div class="formControls col-xs-8 col-sm-6">
                 <textarea id="info_data" name="info_data" cols rows class="textarea" placeholder="..." datatype="*10-999"
                           maxlength="999"
                           onkeypress="$.Huitextarealength(this,999)" onkeyup="$.Huitextarealength(this,999)"></textarea>
                <p class="textarea-numberbar">
                    <em class="textarea-length">*</em>/999
                </p>
            </div>
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="button" id="btnSubmit" class="btn btn-primary radius text-c" value="提交">
            </div>
        </div>

    </form>


</div>

</body>

<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>

<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/additional-methods.js"></script>
<script type="text/javascript" src="/lib/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/js/plugins/canvas-to-blob.min.js"></script>
<script type="text/javascript" src="/lib/js/plugins/sortable.min.js"></script>
<script type="text/javascript" src="/lib/js/plugins/purify.min.js"></script>
<script type="text/javascript" src="/lib/js/fileinput.min.js"></script>
<script type="text/javascript" src="/static/themes/fa/theme.js"></script>
<script type="text/javascript" src="/lib/js/locales/zh.js"></script>




<script type="text/javascript">

    var form = $('#form_add');
    var role = document.getElementById('role');
    var role1 = document.getElementById('role1');
    var role2 = document.getElementById('role2');
    var role3 = document.getElementById('role3');
    var role4 = document.getElementById('role4');
    // 手机号码验证
    jQuery.validator.addMethod("isMobile", function (value, element) {
        var length = value.length;
        var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
        return this.optional(element) || (length == 11 && mobile.test(value));
    }, "请正确填写您的手机号码");



    $(document).ready(function () {

        var logo = $('#input-id');
        var sign = $('#input-id2');


        logo.fileinput({
            uploadUrl:"/fileup/ajax_up",
            allowedPreviewTypes:['image'],
            allowedFileExtensions:['bmp','png','jpg','jpeg'],
            uploadAsync:true,
            language:'zh',
            showUpload:true,
            showRemove:false,
            showCaption:false,
            browseOnZoneClick:false,
            removeFromPreviewOnError:false,
            fileActionSettings:{
                showRemove:true,
                showUpload:true
            }
        });

        sign.fileinput({
            uploadUrl:"/fileup/ajax_up",
            allowedPreviewTypes:['image'],
            allowedFileExtensions:['bmp','png','jpg','jpeg'],
            uploadAsync:true,
            language:'zh',
            showUpload:true,
            showRemove:false,
            showCaption:false,
            browseOnZoneClick:false,
            removeFromPreviewOnError:false,
            fileActionSettings:{
                showRemove:true,
                showUpload:true
            }
        });


        logo.on('fileuploaded',function (event,data,previewId,index) {
            console.log(data.response);
            var obj = eval(data.response);
            if( obj ) {
                if(obj.ret == 0 ) {
                    $('#logo').val(obj.logo) ;

                }
                else{
                    alert(obj.ret);
                }
            }

        });


        sign.on('fileuploaded',function (event,data,msg) {
            console.log(data.response);
            var obj = eval(data.response);
            if( obj ) {
                if(obj.ret == 0 ) {
                    $('#sign_pic').val(obj.logo) ;

                }
                else{
                    alert(obj.ret);
                }
            }
        });



        role.value = (role1.checked?role1.value:0)|(role2.checked?role2.value:0)|(role3.checked?role3.value:0)|(role4.checked?role4.value:0)

        $('[name="role"]').bootstrapSwitch({
            onText: "已开启",
            offText: "已停用",
            onColor: "primary",
//            offColor:"info",
            size: "mini",
            onSwitchChange: function (event, state) {
                if (state == true) {
                    role.value |= $(this).val();
//                    alert(role.value);
                } else {
                    role.value -= $(this).val();
//                    alert(role.value);
                }
            }
        });

        form.validate({
            rules: {
                doctor_name: {
                    required: true,
                    maxlength: 21,
                    remote: {
                        url: '/doctor/ajax_exist',
                        type: 'post',
                        data: {
                            hospital_no: function () {
                                return $('#hospital_no').val();
                            },
                            doctor_name: function () {
                                return $('#doctor_name').val();
                            }
                        }
                    }
                },
                pwd: {
                    required: true,
                    minlength: 6
                },
                pwd2: {
                    required: true,
                    equalTo: "#pwd"
                },
                mobile: {
                    minlength: 11,
                    isMobile: true
                }

            },
            messages: {
                doctor_name: {
                    required: "用户姓名不能为空",
                    remote: "该用户名已经存在,如有相同用户名,请加其他字符区分"
                },
                pwd: {
                    required: "密码不能为空",
                    password: "只能是字母、数字或下划线"
                },
                pwd2: {
                    equalTo: "重复上面的密码"
                },
                mobile: {
                    isMobile: "请输入正确的手机号"
                }

            }
        });

        $('#btnSubmit').on('click', function () {
            if (form.valid())
            {
                $.post('/doctor/ajax_add', {
                    'doctor_name': $('#doctor_name').val(),
                    'pwd': $('#pwd').val(),
                    'hospital_no': $('#hospital_no').val(),
                    'level': $('#level').val(),
                    'department': $('#department').val(),
                    'logo': $('#logo').val(),
                    'sign_pic': $('#sign_pic').val(),
                    'mobile_no': $('#mobile').val(),
                    'role': $('#role').val(),
                    'learn_level': $('#learn_level').val(),
                    'info_data': $('#info_data').val()
                }, function (data) {
                    if (data == 0) {
                        alert('添加成功');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                    else {
                        alert(data);
                    }
                });
            }

        });

    });


</script>

</html>