<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <script type="text/javascript" src="/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>编辑医院</title>
</head>
<body>

<div class="page-container">
    <form class="form form-vertical" id="form_edit" action="/device/ajax_edit">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">医院名称:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$hospital_name}" id="hospital_name" readonly >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">机器码:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$machine_code}" id="machine_code" readonly >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">设备编号:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$device_no}" id="device_no" readonly>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">信息版本:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$info_ver}" id="info_ver" readonly>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">创建时间:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$create_time}" id="create_time" readonly >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">原有效期:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="{$end_time}" id="end_time" readonly>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">增加期限:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" style="color: #7e8795" value="" id="add_sec" name="add_sec" placeholder="单位(天)" autofocus>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="button" id="btnSubmit" class="btn btn-primary radius text-c" value="提交">
            </div>
        </div>

    </form>


</div>


<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>

<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>



<script type="text/javascript">

    var form = $('#form_edit');

    $(document).ready(function () {
        form.validate({
            rules:{
                add_sec:{
                    digits:true
                }
            },
            messages:{
                add_sec:{
                    digits:"必须为数字,单位(天)"
                }
            }
        });

        $('#hos_name').select();
        $('#btnSubmit').on('click', function () {
            if(form.valid()) {
                $.post('/device/ajax_set_time',{'device_no': $('#device_no').val(),'info_ver': $('#info_ver').val(),'add_sec': $('#add_sec').val()},function (data) {
                    if(data==0){
                        alert('修改成功');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                    else{
                        alert(data);
                    }
                });
            }


        });

    });


</script>
</body>
</html>