<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <script type="text/javascript" src="/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/chosen.css"/>


    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <title>医生列表</title>
    <script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="/lib/js/chosen.jquery.js"></script>

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 医生管理 <span
        class="c-gray en">&gt;</span> 医生列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20 text-c">

        <i class="Hui-iconfont Hui-iconfont-search">选择医院</i>
        <select id="hospital" data-placeholder="请选择医院(支持搜索)" style="width:420px;">
            <option value="{$default_value}" selected>{$default_name}</option>
            <?php for($i=0;$i<$count;$i++){ ?>
            <option value="{$data[$i]['hospital_no']}">{$data[$i]['hospital_name']}</option>
            <?php }?>
        </select>


    </div>

    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
            <a href="javascript:void(0);" id="btnAdd" class="btn btn-primary radius"><i
                    class="Hui-iconfont Hui-iconfont-add">添加医生</i></a>
		</span>


    </div>

    <div class="mt-20">
        <table id='doc_table' class="table table-border table-bordered table-bg th radius table-hover table-sort">
            <thead class="text-c">
            <th>医生编号</th>
            <th>医生姓名</th>
            <th>信息版本</th>
            <th>创建时间</th>
            <th>操作</th>
            </thead>
            <tbody class="text-c">

            </tbody>

        </table>
    </div>
</div>
</body>

<script>
    var hos = $('#hospital');
    hos.chosen({
        no_results_text: '没有数据',
        search_contains: true,
        allow_single_deselect: true,
        display_disabled_options: false
    });

    var table;
    $(document).ready(function () {
        table = $('#doc_table').DataTable({
            ajax: {
                url: "/doctor/ajax_list",
                data: function (d) {
                    d.hospital_no = hos.val();
                }
            },
            aaSorting: [[0, "desc"]],//默认第几个排序
            bStateSave: true,//状态保存
            aoColumnDefs: [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable": false, "aTargets": [1, 2, 4]}// 不参与排序的列
            ],
            columns: [
                {data: 'doctor_no'},
                {data: 'doctor_name'},
                {data: 'doctor_ver'},
                {data: 'create_time'},
                {
                    targets: -1,
                    data: null,
                    defaultContent: '<a href="javascript:void(0);" id="edit" class="btn btn-primary radius"><i class="Hui-iconfont Hui-iconfont-edit"></i>编辑</a>   | <a href="javascript:void(0);" id="del" class="btn btn-primary radius"><i class="Hui-iconfont Hui-iconfont-del2"></i>删除</a>'
                }
            ],
            language: {
                'emptyTable': '没有数据',
                'loadingRecords': '加载中...',
                'processing': '查询中...',
                'search': '检索:',
                'lengthMenu': '每页 _MENU_ 条',
                'zeroRecords': '没有数据',
                'paginate': {
                    'first': '第一页',
                    'last': '最后一页',
                    'next': '后一页',
                    'previous': '前一页'
                },
                'info': '第 _PAGE_ 页 / 总 _PAGES_ 页 / 共 _TOTAL_ 条',
                'infoEmpty': '没有数据',
                'infoFiltered': '(过滤总件数 _MAX_ 条)'
            }

        });


        $('#btnAdd').on('click', addRow);

        function addRow() {
            if (hos.val() == -1) {
                layer.msg('请选择要添加设备的医院', {icon: 7, time: 1500}, null);
                return;
            }

            var index = layer.open({
                type: 2,
                maxmin: true,
                title: '添加医生',
                area: ['800px', '300px'],
                content: '/doctor/add?hospital_name=' + hos.find('option:selected').text() + '&hospital_no=' + hos.val(),
                end: function () {
                    table.ajax.reload(null, false);
                }
            });

            layer.full(index);
        }

        $('#hos_table tbody').on('click', 'a#edit', function () {
            var data = table.row($(this).parents('tr')).data();
//           alert(data['hospital_number']);
            var index = layer.open({
                type: 2,
                maxmin: true,
                title: '编辑医生',
                area: ['800px', '300px'],
                content: '/doctor/edit?' + 'doctor_no=' + data['doctor_no'] + '&hospital_name=' + hos.find('option:selected').text(),
                end: function () {
                    table.ajax.reload(null, false);
                }
            });

            layer.full(index);
        });

        $('#hos_table tbody').on('click', 'a#del', function () {
//            alert('del');
            var data = table.row($(this).parents('tr')).data();
            layer.confirm('是否删除?', {icon: 3, title: '提示'}, function (index) {
                $.post('/doctor/ajax_drop', {'doctor_no': data['doctor_no']}, function (d) {
                    if (d == 0) {
                        table.ajax.reload(null, false);
                    } else {
                        alert(d);
                    }
                });
                layer.close(index);
            });

        });

        hos.change(function () {
            table.ajax.reload();
            $.post('/device/ajax_default_set', {
                'hospital_no': hos.val(),
                'hospital_name': hos.find('option:selected').text()
            });
        });


    });


</script>

</html>