
<aside class="Hui-aside">
    <input runat="server" id="divScrollValue" type="hidden" value="" />
    <div class="menu_dropdown bk_2">
        <dl id="menu-check">
            <dt><i class="Hui-iconfont">&#xe613;</i> 检测类型管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/checktype" data-title="检测类型管理" >检测类型管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-hospital">
            <dt><i class="Hui-iconfont">&#xe616;</i> 医院管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/hospital" data-title="医院管理" >医院管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-device">
            <dt><i class="Hui-iconfont">&#xe613;</i> 设备管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/device" data-title="机器码管理" href="javascript:void(0)">机器码管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-doctor">
            <dt><i class="Hui-iconfont">&#xe613;</i> 医生管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/doctor" data-title="医生管理" href="javascript:void(0)">医生管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-cell">
            <dt><i class="Hui-iconfont">&#xe613;</i> 细胞类型管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/celltype" data-title="骨髓有核细胞类型" href="javascript:void(0)">骨髓细胞类型</a></li>
                    <li><a href="/outbloodtype" data-title="外周血细胞类型" href="javascript:void(0)">外周血细胞类型</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-cellpertype">
            <dt><i class="Hui-iconfont">&#xe613;</i> 细胞比例管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/cellpertype" data-title="骨髓细胞比例管理" href="javascript:void(0)">骨髓细胞比例管理</a></li>
                    <li><a href="/outBloodPer" data-title="外周血细胞比例管理" href="javascript:void(0)">外周血细胞比例管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-diagcheck">
            <dt><i class="Hui-iconfont">&#xe613;</i> 诊断比例管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/diagcheck" data-title="骨髓诊断比例管理" href="javascript:void(0)">骨髓诊断比例管理</a></li>
                    <li><a href="/diagcheckblood" data-title="外周血诊断比例管理" href="javascript:void(0)">外周血诊断比例管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-update">
            <dt><i class="Hui-iconfont">&#xe613;</i> 程序升级管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/publicpag" data-title="公共包管理" href="javascript:void(0)">公共包管理</a></li>
                    <li><a href="/privatepag" data-title="私有包管理" href="javascript:void(0)">私有包管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-learn">
            <dt><i class="Hui-iconfont">&#xe613;</i> 学习库管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/projectcell" data-title="项目细胞图片下载" href="javascript:void(0)">项目细胞图片下载</a></li>
                </ul>
            </dd>
        </dl>

        <!--<dl id="menu-admin">-->
            <!--<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li><a href="admin-role.html" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>-->
                    <!--<li><a href="admin-permission.html" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>-->
                    <!--<li><a href="admin-list.html" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <!--<dl id="menu-tongji">-->
            <!--<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li><a href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>-->
                    <!--<li><a href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>-->
                    <!--<li><a href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>-->
                    <!--<li><a href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>-->
                    <!--<li><a href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>-->
                    <!--<li><a href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>-->
                    <!--<li><a href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <!--<dl id="menu-system">-->
            <!--<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li><a href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>-->
                    <!--<li><a href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>-->
                    <!--<li><a href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>-->
                    <!--<li><a href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>-->
                    <!--<li><a href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
    </div>
</aside>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
