
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top text-c">
        <div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" title='首页'href="/index">智微信科</a>
            <!--<a class="logo navbar-logo-m f-l mr-10 visible-xs" href="">admin</a> -->
            <span class="logo navbar-slogan f-l mr-10 hidden-xs">v3.1</span>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
            <div sclass="text-c" style='height:44px;display:inline-block; width:30%'>
                 <marquee style='margin-top:10px' behavior="alternate" scrolldelay="400"><span class='f-16 text-shadow' style='color:#cc902b'>始于偶然  致于永久</span></marquee>
            </div>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl ">
                    <li>超级管理员</li>
                    <li class="dropDown dropDown_hover ">
                        <a href="#" class="dropDown_A"><span id="user_name"></span><i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="#">个人信息</a></li>
                            <li class='login-out'><a href="/login">切换账户</a></li>
                            <li class='login-out'><a href="/login">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<script type="text/javascript" src="/template/lib/jquery/1.9.1/jquery.min.js"></script>
<script>
    $('.login-out').on('click',function(){
        $.post('/index/loginout','',function(res){
            if(res.ret_code==0){
                // layer.msg('退出登录')
            }else{
                layer.msg(res.ret_code);
            }
        })
    })
</script>







