<!DOCTYPE HTML>
<html>
<head>
    {include file='../public/template/index/common/commonStyle.html'/}
    <title>Echarts </title>
</head>
<body>
{include file='../public/template/index/common/top.html'/}
{include file='../public/template/index/common/sideBar.html'/}
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    </nav>
    <div  class="Hui-article ">
        <article class="cl pd-20 ">
            <!--<p class="text-c f-22 c-666 text-shadow">欢迎使用智微信科后台</p>-->
            <div id="main" style="width:1000px;height:500px;"></div>

        </article>

    </div>
</section>


{include file='../public/template/index/common/commonJs.html'/}
<script type="text/javascript" src="/template/lib/echarts/3.4.0/echarts.common.min.js"></script>
<script type="text/javascript">
    var container = document.getElementById('main');

    var myEchart = echarts.init(container);
//    app.title = '2015 年上证指数';
    var allData =[

        [
            "2017-09-29 11:13:58 70000",
            7320
        ],
        [
            "2017-09-29 11:13:58 70000",
            8320
        ],
        [
            "2017-09-29 11:14:20 820000",
            2854
        ],
        [
            "2017-09-29 11:18:45 630000",
            6385
        ],
        [
            "2017-09-30 14:44:09 870000",
            7275
        ],
        [
            "2017-10-10 16:29:33 910000",
            3959
        ],
        [
            "2017-10-10 16:31:21 60000",
            4331
        ],
        [
            "2017-10-12 15:59:42 910000",
            5614
        ],
        [
            "2017-10-12 16:00:14 180000",
            7029
        ],
        [
            "2017-10-12 16:00:42 700000",
            4805
        ],
        [
            "2017-10-13 09:31:32 360000",
            113
        ],
        [
            "2017-10-18 09:13:30 250000",
            6839
        ],
        [
            "2017-10-18 09:14:18 630000",
            5811
        ],
        [
            "2017-10-18 09:14:58 350000",
            6433
        ],
        [
            "2017-10-19 09:29:13 800000",
            6192
        ],
        [
            "2017-10-19 09:29:41 360000",
            4938
        ],
        [
            "2017-10-19 09:30:15 530000",
            5296
        ],
        [
            "2017-10-19 15:44:41 200000",
            4456
        ],
        [
            "2017-10-20 11:21:22 890000",
            2012
        ],
        [
            "2017-10-20 11:22:45 200000",
            6476
        ],
        [
            "2017-10-20 11:23:00 740000",
            7120
        ],
        [
            "2017-10-23 10:46:33 450000",
            6367
        ],
        [
            "2017-10-23 10:46:45 930000",
            7299
        ],
        [
            "2017-10-23 10:47:12 650000",
            6155
        ],
        [
            "2017-10-24 16:33:41 800000",
            6932
        ],
        [
            "2017-10-24 16:33:53 820000",
            6415
        ],
        [
            "2017-10-24 16:34:05 750000",
            7570
        ],
        [
            "2017-10-24 16:34:34 550000",
            4641
        ],
        [
            "2017-10-25 10:48:42 40000",
            4618
        ],
        [
            "2017-10-25 17:07:39 500000",
            5041
        ],
        [
            "2017-10-25 17:07:59 390000",
            7641
        ],
        [
            "2017-10-25 17:08:22 300000",
            8789
        ],
        [
            "2017-10-25 17:08:47 170000",
            6666
        ],
        [
            "2017-10-26 09:11:16 80000",
            6826
        ],
        [
            "2017-10-26 15:02:43 130000",
            6769
        ],
        [
            "2017-10-30 10:53:40 80000",
            7865
        ],
        [
            "2017-10-30 10:55:17 180000",
            7008
        ],
        [
            "2017-10-30 10:56:38 450000",
            6475
        ],
        [
            "2017-10-30 10:57:54 730000",
            6597
        ],
        [
            "2017-10-30 10:58:24 310000",
            7740
        ],
        [
            "2017-10-30 10:59:32 440000",
            7432
        ],
        [
            "2017-10-30 11:00:04 950000",
            5136
        ],
        [
            "2017-10-30 14:37:37 790000",
            6356
        ],
        [
            "2017-10-31 15:30:45 950000",
            6505
        ],
        [
            "2017-10-31 15:31:22 440000",
            7147
        ],
        [
            "2017-10-31 16:13:55 720000",
            4636
        ],
        [
            "2017-11-01 15:17:43 650000",
            6655
        ],
        [
            "2017-11-01 17:44:05 970000",
            8265
        ],
        [
            "2017-11-02 10:15:08 980000",
            4324
        ],
        [
            "2017-11-02 10:15:47 520000",
            6425
        ],
        [
            "2017-11-02 10:16:16 670000",
            6109
        ],
        [
            "2017-11-03 15:13:27 980000",
            7295
        ],
        [
            "2017-11-03 15:13:57 0000",
            6901
        ],
        [
            "2017-11-03 16:32:56 290000",
            6915
        ],
        [
            "2017-11-08 09:35:28 950000",
            6139
        ],
        [
            "2017-11-08 15:14:17 630000",
            4808
        ],
        [
            "2017-11-09 15:47:00 30000",
            3540
        ],
        [
            "2017-11-09 15:47:25 10000",
            4657
        ],
        [
            "2017-11-09 15:47:47 710000",
            5281
        ],
        [
            "2017-11-09 15:48:08 700000",
            5536
        ],
        [
            "2017-11-10 10:38:36 900000",
            6547
        ],
        [
            "2017-11-13 14:55:58 990000",
            5288
        ],
        [
            "2017-11-14 10:26:07 960000",
            2612
        ],
        [
            "2017-11-14 12:11:51 850000",
            4491
        ],
        [
            "2017-11-14 15:25:34 440000",
            6900
        ],
        [
            "2017-11-14 15:26:09 230000",
            4966
        ],
        [
            "2017-11-14 15:26:52 760000",
            6744
        ],
        [
            "2017-11-14 15:27:19 400000",
            5344
        ],
        [
            "2017-11-14 15:27:41 840000",
            7242
        ],
        [
            "2017-11-14 15:29:29 710000",
            6520
        ],
        [
            "2017-11-14 16:06:04 540000",
            5780
        ],
        [
            "2017-11-14 16:48:54 820000",
            5640
        ],
        [
            "2017-11-15 15:10:37 440000",
            8444
        ],
        [
            "2017-11-15 15:47:08 150000",
            5404
        ],
        [
            "2017-11-15 17:28:52 60000",
            7848
        ],
        [
            "2017-11-16 15:23:06 380000",
            5618
        ],
        [
            "2017-11-17 09:07:52 700000",
            7432
        ],
        [
            "2017-11-17 17:13:42 800000",
            6461
        ],
        [
            "2017-11-20 08:48:38 150000",
            7618
        ],
        [
            "2017-11-20 09:19:24 670000",
            6932
        ],
        [
            "2017-11-20 09:19:34 250000",
            5708
        ],
        [
            "2017-11-20 16:03:51 330000",
            6120
        ],
        [
            "2017-11-21 16:28:07 560000",
            4085
        ],
        [
            "2017-11-21 16:28:57 880000",
            6709
        ],
        [
            "2017-11-21 16:29:45 190000",
            5413
        ],
        [
            "2017-11-21 16:30:16 0000",
            6232
        ],
        [
            "2017-11-22 14:16:14 410000",
            5259
        ],
        [
            "2017-11-23 15:09:13 310000",
            6694
        ]

    ];
 $.get('/elastic/projectLine',function(data){
       myEchart.setOption(option ={
           title: {
               text: '细胞识别率'
           },
           tooltip: {
               trigger: 'axis'
           },
           xAxis: {
               data:data.map(function(item) {
                   return item[0]
               })
           },
           yAxis: {
               splitLine : {
                   show:false
               }
           },
           toolbox: {
               left:'center',
               feature: {
                   dataView: { //数据视图
                       show: true
                   },
                   dataZoom: {
                       yAxisIndex: 'none'
                   },
                   restore: {},
                   saveAsImage: {}
               }
           },
           dataZoom: [{
               startValue: '2015-06-01'
           }, {
               type: 'inside'
           }],
           series: {
               name:'识别率',
               type:'line',
               itemStyle:{
                   normal: {
                       color: '#green',
                       color0:'#333',
                       borderColor: 'red',
                       border0Color:'#fff'
                   }
               },
               data: data.map(function(item) {
                   return item[1];
               })
           },
           markLine: {
               silent :true,
               data: [{
                   yAxis:20
               },{
                   yAxis:40
               },{
                   yAxis:60
               },{
                   yAxis:80
               },{
                   yAxis:100
               }]
           }
       });

   })
</script>
</body>
</html>