<!DOCTYPE HTML>
<html>

<head>
    {include file='../public/template/index/common/commonStyle.html'/}
    <link rel="stylesheet" type="text/css" href="/template/static/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="/template/static/css/bootstrap.min.css">

    <title>添加公共包</title>
</head>

<body>
    {include file='../public/template/index/common/top.html'/} {include file='../public/template/index/common/sideBar.html'/}
    <section class="Hui-article-box">
        <nav class="breadcrumb">
            <i class="Hui-iconfont">&#xe67f;</i> 首页
            <span class="c-gray en">&gt;</span> 公共包管理
            <span class="c-gray en">&gt;</span> 添加公共包
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
                title="刷新">
                <i class="Hui-iconfont">&#xe68f;</i>
            </a>
        </nav>
        <div class="Hui-article">
            <article class="cl pd-20">
                <!--<h4 class='text-c '>添加公共包</h4>-->
                <form class="form form-vertical" id="form_add" action="">
                    <div class="row cl ">
                        <div class="text-c ">
                            <h3 class="c-666">{$hard_name}</h3>
                        </div>
                        <input type="hidden" id="hard_ver" value="{$hard_ver}">
                    </div>
                    <div class="row cl ">
                        <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">app版本:</label>
                        <div class="formControls col-xs-8 col-sm-6">
                            <input type="text" class="input-text radius" value="" id="app_ver" name="app_ver" required>
                        </div>
                    </div>
                    <div class="row cl ">
                        <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">mid版本:</label>
                        <div class="formControls col-xs-8 col-sm-6">
                            <input type="text" class="input-text radius" value="" id="mid_ver" name="mid_ver" required>
                        </div>
                    </div>
                    <div class="row cl ">
                        <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">显示版本号:</label>
                        <div class="formControls col-xs-8 col-sm-6">
                            <input type="text" class="input-text radius" value="" id="app_vercode" name="app_vercode" maxlength="36">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">升级描述:</label>
                        <div class="formControls col-xs-8 col-sm-6">
                            <!--<input type="text" class="textarea radius  text-left" value="" id="desc" placeholder="详情描述..." autofocus >-->
                            <textarea id="upgrade_remark" name="upgrade_remark" cols rows class="textarea" placeholder="升级描述..." datatype="*10-1000"
                                maxlength="1000" onkeypress="$.Huitextarealength(this,1000)" onkeyup="$.Huitextarealength(this,1000)"></textarea>
                            <p class="textarea-numberbar">
                                <em class="textarea-length">*</em>/1000
                            </p>
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">配置文件:</label>
                        <span class=" col-xs-8 col-sm-6">
                            <input id="input-id" name="file" type="file" class="file-input">
                        </span>
                        <input type="hidden" id="upgrade_file_id" name="upgrade_file_id" value="" required>
                    </div>

                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">文件清单:</label>
                        <span class=" col-xs-8 col-sm-6">
                            <input id="input-id2" name="file" type="file" multiple class="file-input">
                        </span>
                    </div>
                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                            <input type="button" id="btnSubmit" name="btnSubmit" class="btn btn-primary radius text-c" value="提交">
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </section>
    {include file='../public/template/index/common/commonJs.html'/}
    <script type="text/javascript" src="/template/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/template/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <!--<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>-->

    <script type="text/javascript" src="/template/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/template/lib/js/plugins/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="/template/lib/js/plugins/sortable.min.js"></script>
    <script type="text/javascript" src="/template/lib/js/plugins/purify.min.js"></script>
    <script type="text/javascript" src="/template/lib/js/fileinput.js"></script>
    <script type="text/javascript" src="/template/static/themes/fa/theme.js"></script>
    <script type="text/javascript" src="/template/lib/js/locales/zh.js"></script>

    <script type="text/javascript">
        jQuery.validator.addMethod("isChines", function (value, element) {
            var chn = /[\u4E00-\u9FA5]/;
            return !chn.test(value);
        }, "表达式不能包含中文");

        jQuery.validator.addMethod("cfgNull", function (value, element) {
            return !($('#upgrade_file_id').val() == '');
        }, "表配置清单不能为空");

        var form = $('#form_add');

        function submitCheck(b) {
            $('#btnSubmit').attr('disabled', b);
        }

        $(document).ready(function () {
            var logo = $('#input-id');
            var list = $('#input-id2');
            logo.fileinput({
                uploadUrl: "/fileup/ajax_up",
                allowedPreviewTypes: ['image', 'html', 'text', 'video', 'flash'],
                allowedFileExtensions: ['upf'],
                uploadAsync: true,
                language: 'zh',
                showUpload: true,
                showRemove: false,
                showCaption: false,
                showPreview: true,
                browseOnZoneClick: false,
                overwriteInitial: true,
                removeFromPreviewOnError: false,
                fileActionSettings: {
                    showRemove: true,
                    showUpload: true
                }
            });

            logo.on('fileuploaded', function (event, data, previewId, index) {
                console.log(data.response);
                var obj = eval(data.response);
                if (obj) {
                    if (obj.ret == 0) {
                        $('#upgrade_file_id').val(obj.logo);
                    } else {
                        alert(obj.ret);
                    }
                }

            });
            logo.on('filesuccessremove', function (event, id) {
                $('#upgrade_file_id').val('');
            });

            logo.on('filedeleted', function (event, id) {
                $('#upgrade_file_id').val('');
            });

            list.fileinput({
                uploadUrl: "/fileup/ajax_up",
                allowedPreviewTypes: [],
                allowedFileExtensions: ['lz'],
                uploadAsync: true,
                language: 'zh',
                showUpload: true,
                showRemove: true,
                showCaption: false,
                showPreview: true,
                browseOnZoneClick: false,
                removeFromPreviewOnError: false,
                fileActionSettings: {
                    showRemove: true,
                    showUpload: true
                }
            });
            form.validate({
                rules: {
                    app_ver: {
                        digits: true
                    },
                    mid_ver: {
                        digits: true
                    },
                    app_vercode: {
                        isChines: true
                    },
                    file: {
                        cfgNull: false
                    }
                },
                messages: {
                    app_ver: {
                        digits: "app_ver必须是数字"
                    },
                    mid_ver: {
                        digits: "mid_ver必须是数字"
                    },
                    app_vercode: {
                        isChines: "显示版本号不能是中文,可以写成 V5.0.0 这样的模式"
                    },
                    file: {
                        cfgNull: "配置文件不能为空"
                    }
                },

                debug: true


            });
            $('#btnSubmit').on('click', function () {
                if (form.valid()) {

                    if ($('#upgrade_file_id').val() == '') {
                        alert('配置文件必须上传');
                        return;
                    }

                    $.post('/publicpag/ajax_add', {
                        'app_vercode': $('#app_vercode').val(),
                        'app_ver': $('#app_ver').val(),
                        'mid_ver': $('#mid_ver').val(),
                        'upgrade_file_id': $('#upgrade_file_id').val(),
                        'upgrade_remark': $('#upgrade_remark').val(),
                        'hard_ver': $('#hard_ver').val()
                    }, function (data) {
                        if (data == 0) {
                            layer.msg('添加成功');
                            location.href = '/publicpag/index';
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        } else {
                            alert(data);
                        }
                    });
                }

            });

        });
    </script>
</body>
</html>