@charset "utf-8";
/* 你自己的样式 */



.bg_home{
    background:#eee;
}


.show-container{
    padding:30px 200px;
    margin: 0 auto;

}
.show-item{
    margin: 0 auto;
    /*border:1px solid;*/
    /*text-align:center;*/
}
.show-item li{
    /*border:1px solid #3270c9;*/
    width:271px;
    height:140px;
    padding:20px 10px;
    float:left;
    margin-right:26px;
    margin-bottom:25px;
    background: #fff;
    border-radius:5px;
}