@charset "utf-8";
/* 你自己的样式 */



.bg_home{
    background:#eee;
}


.show-container{
    padding:30px 50px;
    margin: 0 auto;
    text-align:center;

}
.show-item{
    margin: 0 auto;
    display: inline-block;

}
.show-item li{
    color:#fff;
    width:150px;
    height:80px;
    padding:10px 20px;
    float:left;
    /* margin-right:26px;
    margin-bottom:25px; */
    border-radius:5px;
    margin-left:10px;
}
.show-item li span{
    display:block;
    margin-top:-10px;
}