<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <script type="text/javascript" src="/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fileinput.min.css">

    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>添加医院</title>
</head>
<body>

<div class="page-container">
    <form class="form form-vertical" id="hos_add" action="/hospital/ajax_add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1"><span class="c-red">*</span>医院编码:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="hos_number" name="hos_number" maxlength="32" required >
            </div>
            <div class="row cr">
                <label id="ltips" class="c-red" style="display:none">已存在</label>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">医院名称:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text radius" value="" id="hos_name" maxlength="40">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">地区:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <span class="select-box radius">
                    <select class="select" size="1" id="zone">
                        <option value="" selected>请选择地区</option>
                        <option value="杭州">杭州</option>
                        <option value="大连">大连</option>
                        <option value="上海">上海</option>
                        <option value="北京">北京</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">等级:</label>
            <div class="formControls col-xs-8 col-sm-6">
                <span class="select-box radius">
                <select class="select" size="1" id="level">
                    <option value="" selected>请选择等级</option>
                    <option value="三级甲等">三级甲等</option>
                    <option value="三级乙等">三级乙等</option>
                    <option value="三级丙等">三级丙等</option>
                    <option value="二级甲等">二级甲等</option>
                    <option value="二级乙等">二级乙等</option>
                    <option value="二级丙等">二级丙等</option>
                    <option value="一级甲等">一级甲等</option>
                    <option value="一级乙等">一级乙等</option>
                    <option value="一级丙等">一级丙等</option>
                </select>
            </span>
            </div>

        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">图片:</label>
            <span class=" col-xs-8 col-sm-6">
                <input id="input-id" name="file" type="file" class="file-input"  >
            </span>
            <input type="hidden" id="logo" value="">
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="button" id="btnSubmit" class="btn btn-primary radius text-c" value="提交">
            </div>
        </div>

    </form>


</div>


<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>

<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/js/plugins/canvas-to-blob.min.js"></script>
<script type="text/javascript" src="/lib/js/plugins/sortable.min.js"></script>
<script type="text/javascript" src="/lib/js/plugins/purify.min.js"></script>
<script type="text/javascript" src="/lib/js/fileinput.min.js"></script>
<script type="text/javascript" src="/static/themes/fa/theme.js"></script>
<script type="text/javascript" src="/lib/js/locales/zh.js"></script>

<script type="text/javascript">
    var form = $('#hos_add');
    function submitCheck(b) {
        $('#btnSubmit').attr('disabled', b);
    }
    $(document).ready(function () {

        var logo = $('#input-id');

        logo.fileinput({
            uploadUrl:"/fileup/ajax_up",
            allowedPreviewTypes:['image'],
            allowedFileExtensions:['bmp','png','jpg','jpeg'],
            uploadAsync:true,
            language:'zh',
            showUpload:true,
            showRemove:false,
            showCaption:false,
            browseOnZoneClick:false,
            removeFromPreviewOnError:false,
            fileActionSettings:{
                showRemove:true,
                showUpload:true
            }
        });

        logo.on('fileuploaded',function (event,data,previewId,index) {
            console.log(data.response);
            var obj = eval(data.response);
            if( obj ) {
                if(obj.ret == 0 ) {
                    $('#logo').val(obj.logo);
                }
                else{
                    alert(obj.ret);
                }
            }

        });

        logo.on('filedeleted',function (event,id) {
            $('#logo').val('') ;
        });


        form.validate({
            rules:{
                hos_number:{
                    remote:{
                        url:'/hospital/ajax_exist',
                        type:'post',
                        data:{
                            hospital_number:function(){
                                return $('#hos_number').val();
                            }
                        }
                    }
                }
            },
            messages:{
                hos_number:{
                    remote:"医院编码已经存在"
                }
            }

        });

       // submitCheck(true);

//        $('#hos_number').on('blur', function () {
//            if ($('#hos_number').val().length <= 0) {
//                $('#ltips').html('必填');
//                $('#ltips').show();
//            }
//            else {
//                $.post('/hospital/ajax_exist', {'hospital_number': $('#hos_number').val()},
//                        function (data) {
//                            if (data == 1) {
//                                $('#ltips').html('已存在');
//                                $('#ltips').show();
//                                submitCheck(true);
//                            }
//                            else if (data == 0) {
//                                $('#ltips').hide();
//                                submitCheck(false);
//                            }
//                            else {
//                                submitCheck(true);
//                            }
//
//                        });
//            }
//        });

        $('#btnSubmit').on('click', function () {
            if(form.valid()){
                $.post('/hospital/ajax_add',{'hospital_number': $('#hos_number').val(),'hospital_name': $('#hos_name').val(),'zone': $('#zone').val(),'level': $('#level').val(),'logo': $('#logo').val()},function (data) {
                    if(data==0){
                        alert('添加成功');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                    else{
                        alert(data);
                    }
                });
            }

        });

    });


</script>
</body>
</html>