<!DOCTYPE HTML>
<html>
<head>
    {include file='../public/template/index/common/commonStyle.html'/}
    <title>添加医院</title>
</head>
{include file='../public/template/index/common/top.html'/}
{include file='../public/template/index/common/sideBar.html'/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 机器码管理
        <span class="c-gray en">&gt;</span> 机器码添加
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <h4 class='text-c'>机器码添加</h4>
            <form class="form form-vertical" id="form_add" action="/device/ajax_add">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">医院编号:</label>
                    <div class="formControls col-xs-8 col-sm-6">
                        <input type="text" class="input-text radius" style="color: #7e8795" value="{$hospital_no}"
                               id="hospital_no" readonly>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">医院名称:</label>
                    <div class="formControls col-xs-8 col-sm-6">
                        <input type="text" class="input-text radius" style="color: #7e8795" value="{$hospital_name}"
                               id="hospital_name" readonly>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">机器码:</label>
                    <div class="formControls col-xs-8 col-sm-6">
                        <input type="text" class="input-text radius" value="" id="machine_code" name="machine_code"
                               maxlength="32" autofocus required placeholder="使用读取工具在PC上获取">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1">有效期:</label>
                    <div class="formControls col-xs-8 col-sm-6">
                        <input type="text" class="input-text radius" value="" id="valid_sec" name="valid_sec"
                               placeholder="单位(天)">
                    </div>
                </div>

                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input type="button" id="btnSubmit" class="btn btn-primary radius text-c" value="提交">
                    </div>
                </div>

            </form>
        </article>
    </div>
</section>
</body>


{include file='../public/template/index/common/commonJs.html'/}

<script type="text/javascript" src="/template/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/template/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<!--<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>-->
<!--<script type="text/javascript" src="/lib/jquery.validation/1.14.0/additional-methods.js"></script>-->


<script type="text/javascript">
    var form = $('#form_add');

    $(document).ready(function () {
        form.validate({
            rules: {
                machine_code: {
                    required: true,
                    maxlength: 32,
                    remote: {
                        url: '/device/ajax_exist',
                        type: 'post',
                        data: {
                            machine_code: function () {
                                return $('#machine_code').val();
                            }
                        }
                    }
                },
                valid_sec: {
                    digits: true
                }
            },
            messages: {
                machine_code: {
                    required: "机器码不能为空",
                    remote: "机器码已经存在"
                },
                valid_sec: {
                    digits: "必须为数字,单位(天)"
                }
            }
        });

        $('#btnSubmit').on('click', function () {
            if (form.valid()) {
                $.post('/device/ajax_add', {
                    'machine_code': $('#machine_code').val(),
                    'hospital_no': $('#hospital_no').val(),
                    'valid_sec': $('#valid_sec').val()
                }, function (data) {
                    if (data == 0) {
                        layer.msg('添加成功');
                        location.href='/device/index';
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                    else {
                        alert(data);
                    }
                });
            }

        });

    });


</script>

</html>