<!DOCTYPE HTML>
<html>
<head>
    <title>添加诊断比例</title>
    {include file='../public/template/index/common/commonStyle.html'/}
</head>
<body>
{include file='../public/template/index/common/top.html'/}
{include file='../public/template/index/common/sideBar.html'/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 诊断比例管理
        <span class="c-gray en">&gt;</span> 添加诊断比例
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <h4 class='text-c c-yellow' >添加诊断比例</h4>
            <form class="form form-vertical" id="form_add" action="">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1 text-r">诊断比例中文名:</label>
                    <div class="formControls col-xs-8 col-sm-6">
                        <input type="text" class="input-text radius" value="" id="cn_name" name="cn_name" maxlength="42"
                               required autofocus>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1 text-r">诊断比例英文名:</label>
                    <div class="formControls col-xs-8 col-sm-6">
                        <input type="text" class="input-text radius" value="" id="en_name" name="en_name"
                               maxlength="120">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1 text-r">表达式:</label>
                    <div class="formControls col-xs-8 col-sm-6">
                        <textarea id="expression" name="expression" cols rows class="textarea" placeholder="..."
                               datatype="*10-510" maxlength="510"
                               onkeypress="$.Huitextarealength(this,510)"
                               onkeyup="$.Huitextarealength(this,510)"></textarea>
                        <p class="textarea-numberbar">
                            <em class="textarea-length">*</em>/510
                        </p>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2 col-sm-offset-1 text-r">描述:</label>
                    <div class="formControls col-xs-8 col-sm-6">
                         <textarea id="remark" name="remark" cols rows class="textarea" placeholder="..." datatype="*10-1000"
                                   maxlength="1000"
                                   onkeypress="$.Huitextarealength(this,1000)"
                                   onkeyup="$.Huitextarealength(this,1000)"></textarea>
                         <p class="textarea-numberbar">
                            <em class="textarea-length">*</em>/1000
                         </p>
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input type="button" id="btnSubmit" class="btn btn-primary radius text-c" value="提交">
                    </div>
                </div>
            </form>
        </article>
    </div>
</section>

{include file='../public/template/index/common/commonJs.html'/}

<script type="text/javascript" src="/template/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="/template/lib/jquery.validation/1.14.0/validate-methods.min.js"></script>
<!--<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>-->
<!--<script type="text/javascript" src="/lib/jquery.validation/1.14.0/additional-methods.js"></script>-->


<script type="text/javascript">
    var form = $('#form_add');

    jQuery.validator.addMethod("isChines", function (value, element) {
        var chn = /[\u4E00-\u9FA5]/;
        return !chn.test(value);
    }, "表达式不能包含中文");

    $(document).ready(function () {
        form.validate({
            rules: {
                cn_name:{
                    isChinese:true
                },
                en_name: {
                    isEnglish: true
                }
            },
            messages: {

            }
        });

        $('#btnSubmit').on('click', function () {
            if (form.valid()) {
                $.post('/diagcheck/ajax_add', {
                    'cn_name': $('#cn_name').val(),
                    'en_name': $('#en_name').val(),
                    'expression': $('#expression').val(),
                    'remark': $('#remark').val()
                }, function (data) {
                    if (data == 0) {
                        alert('添加成功');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                    else {
                        alert(data);
                    }
                });
            }

        });

    });


</script>
</body>
</html>