<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chosen.css"/>


    <script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="/lib/js/plugins/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="/lib/js/plugins/sortable.min.js"></script>
    <script type="text/javascript" src="/lib/js/plugins/purify.min.js"></script>
    <script type="text/javascript" src="/lib/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/static/themes/fa/theme.js"></script>
    <script type="text/javascript" src="/lib/js/locales/zh.js"></script>
    <script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/lib/js/chosen.jquery.js"></script>





</head>


<body>
hello world!

<div>

    <!--<input id="input-id" name="file" type="file" multiple class="file-input"  >-->
    <!--<input type="button" id="download" name="download" value="下载">-->
    <!--<a href="http://localhost:8888/test/tableGet?cell_type=12&cell_no=0000000a54a3b1b0000000000112&num=5000" id="download1" download="download.txt">点击直接下载并保存成 download.txt 文件</a>-->

    <div>
        <i class="Hui-iconfont Hui-iconfont-search">选择医院</i>
        <select id="cell_type" data-placeholder="细胞类型(支持搜索)" style="width:420px;">
            <option value="-1" selected></option>
            <!--<option value="2" selected>2</option>-->

        </select>
    </div>
    <div class="mt-20">
        <table id='doc_table' class="table">
            <thead class="text-c">
            <th>医生编号</th>
            <th>医生姓名</th>

            </thead>
            <tbody class="text-c">

            </tbody>

        </table>
    </div>

    <div>

    </div>


</div>


</body>

<script>
    $(document).ready(function () {
        var select1 = $("#cell_type");
        var hos = $('#cell_type');


        $.post('/celltype/ajax_list', null, function (d) {

            //这里要拼接下e 如果显示不出来 记得是 eval('+e+');
            var i = 0;//和for循环一样 i做计数
            var jsonData = eval(d);//接收到的数据转化为JQuery对象，由JQuery为我们处理
            var jData = jsonData['data'];
            var num = 0;
            $.each(jData, function(index, objVal) { //遍历对象数组，index是数组的索引号，objVal是遍历的一个对象。
                //val["属性"]可取到对应的属性值。
                //alert(objVal["cn_name"].toString());
//                alert(1);
                num += 1;
                $("<option>").attr("value", objVal["cell_type"]).html(objVal["cn_name"]).appendTo(select1);
            });

            alert(num);


            hos.chosen({
                no_results_text: '没有数据',
                search_contains: true,
                allow_single_deselect: true,
                display_disabled_options: false
            });

        });


        hos.change(function () {
            alert(hos.val());
//            alert(hos.find('option:selected').text());

        });








        table = $('#doc_table').DataTable({
                ajax: {
                    url: "/doctor/ajax_list?hospital_no=65536001"
                },
                scrollX:200,
                scrollY:300,
                paging:false,
                autoWidth:true,
                info:false,
                aaSorting: [[0, "desc"]],//默认第几个排序
                bStateSave: true,//状态保存
                aoColumnDefs: [
                    //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
//                    {"orderable": false, "aTargets": [1, 2, 4]}// 不参与排序的列
                ],
                columns: [
                    {data: 'doctor_no'},
                    {data: 'doctor_name'}
                ],
                language: {
                    'emptyTable': '没有数据',
                    'loadingRecords': '加载中...',
                    'processing': '查询中...',
                    'search': '检索:',
                    'lengthMenu': '每页 _MENU_ 条',
                    'zeroRecords': '没有数据',
                    'paginate': {
                        'first': '第一页',
                        'last': '最后一页',
                        'next': '后一页',
                        'previous': '前一页'
                    },
                    'info': '第 _PAGE_ 页 / 总 _PAGES_ 页 / 共 _TOTAL_ 条',
                    'infoEmpty': '没有数据',
                    'infoFiltered': '(过滤总件数 _MAX_ 条)'
                }

        });


        function downloadFile(fileName, content){
            var aLink = document.createElement('a');
            var blob = new Blob([content]);
            var evt = document.createEvent("HTMLEvents");
            evt.initEvent("click", false, false);//initEvent 不加后两个参数在FF下会报错, 感谢 Barret Lee 的反馈
            aLink.download = fileName;
            aLink.href = URL.createObjectURL(blob);
            aLink.dispatchEvent(evt);
        }

        $('#download').on('click',function () {
            document.getElementById("download1").click();
        });

    });
</script>

</html>