<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">&ndash;&gt;-->
    <link rel="stylesheet" type="text/css" href="/static/css/chosen.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.steps.css">


    <title>projectcell</title>



</head>
<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 学习库管理 <span
        class="c-gray en">&gt;</span> 项目细胞下载 <a class="btn btn-success radius r"
                                                style="line-height:1.6em;margin-top:3px"
                                                href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a>
</nav>


<div class="two steps">
    <span class="active step" id="step_search">查询</span>
    <span class="step" id="step_down">下载</span>
</div>


<div class="page-container" id="dv_down" style="display: none">
    <h3>勾选的项目编号列表:<small>(共计<span id="total_num">0</span>个项目)</small></h3>
    <div>
        <textarea id="info_data" name="info_data" class="textarea" ></textarea>
    </div>

    <div class="text-c">
        <input type="button" id="down_gen" class="btn btn-primary radius mt-20 text-c " value="勾选项目生成下载链接">
    </div>

    <div id="progress_gen" style="display: none">
        <span id="progressbar" class="progress "><div class="progress-bar mt-20" ><span class="sr-only" id="progressValue" style="width:0%"></span></div></span>
    </div>

    <div class="text-c mt-20 size-big" id="down_file" style="font-size: 16px;;display: none">
        <a id="link_file" href="http://localhost:8888/file/08/6184a0fb4397d010e1fdb54516dfd6.png" download="赵丽颖.png">下载列表</a>
    </div>


</div>

<div class="page-container" id="dv_search" >
    <div class=" pd-5 bg-1 bk-gray mt-10">
        <div>
            <i class="Hui-iconfont ml-20">选择医院 </i>
            <select id="s_hospital" data-placeholder="支持按名字搜索(不选则搜索全部医院)" style="width:360px;">

            </select>
        </div>
    </div>

    <div class=" pd-5 bg-1 bk-gray mt-20">

        <span><i class="Hui-iconfont ml-20">开始日期 </i></span><input type="text"
                                                                   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})"
                                                                   id="t_datemin" class="input-text Wdate"
                                                                   style="width:150px;">


        <span><i class="Hui-iconfont ">- 结束日期 </i></span><input type="text"
                                                                onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:$('#t_datemin').val(),maxDate:'%y-%M-%d'})"
                                                                id="t_datemax" class="input-text Wdate"
                                                                style="width:150px;">

        <span class="r mr-40">
            <button type="submit" class="btn btn-primary radius" id="btn_search" name="btn_search"><i
                    class="Hui-iconfont Hui-iconfont-search"></i>查询</button>
        </span>

    </div>


    <div class="mt-20">
        <HR WIDTH=100% SIZE=1>
    </div>


    <div class="mt-10">
        <table id='this_table' class="table table-border table-bordered table-bg th radius table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="20"><input type="checkbox" class="checkall"></th>
                <th width="40">ID</th>
                <th width="180">项目编号</th>
                <th width="130">项目时间</th>
                <th width="130">审核医生</th>
                <th width="80">病人姓名</th>
                <th width="40">病人年龄</th>
                <th width="40">病人性别</th>
                <th width="80">玻片编号</th>
                <th width="80">取材部位</th>
            </tr>
            </thead>

            <tbody class="text-c">

            </tbody>

        </table>
    </div>
</div>


<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--<script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/lib/js/chosen.jquery.js"></script>
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/js/jquery.steps.js"></script>
<script type="text/javascript" src="/lib/js/spark-md5.min.js"></script>

<script>
    $(document).ready(function () {
//
//        $('#dv_search').show();
//        $('#dv_down').hide();
        var step_search = document.getElementById("step_search");
        var step_down = document.getElementById("step_down");
        var textpro = document.getElementById("info_data");

        var down_gen = document.getElementById("down_gen");

        var progressValue = document.getElementById("progressValue");
        var down_file = document.getElementById("down_file");
        var link_file = document.getElementById("link_file");

        function initDown() {
            allNum = 0;
            $('#down_file').hide();
            $('#down_gen').show();
            $('#progress_gen').hide();
            down_gen.disabled = false;

        }

        $('#down_gen').on('click',function (e) {

            if(textpro.value != "") {
                var getId = SparkMD5.hash(textpro.value);
                alert(getId);

                down_gen.disabled = true;
                $('#down_file').hide();
                $('#progress_gen').show();
                progress();
            }
            else{
                alert("请先勾选项目");
            }


        });

        function successGen() {
            down_gen.disabled = false;
            $('#progress_gen').hide();
            $('#down_file').show();
            $('#down_gen').hide();

            //获取生成文件路径和名称生成链接
//            link_file.download = "miss zhao.png"
//            link_file.text = "下载内容";

        }

        //获取生成进度
        var allNum = 0;
        function progresssGet() {

            return allNum++;
        }

        function progress() {
//            alert(allNum);

//            var val = progressValue.style.width;
//            if(val.length > 0){
//                var valNumber = val.substring(0,val.length-1);
//            }
//            else{
//                var valNumber = 0;
//            }
//            valNumber++;

            var valNumber =  progresssGet();

            progressValue.style.width = valNumber+"%";

            if(valNumber <= 99) {
                setTimeout(progress,100);
            }
            else{
                successGen();

            }
        }
//
////===========================医院选择框================================
//
        var hos = $("#s_hospital");
        $.post('/hospital/ajax_list', null, function (d) {
            //这里要拼接下e 如果显示不出来 记得是 eval('+e+');
            var i = 0;//和for循环一样 i做计数
            var jsonData = eval(d);//接收到的数据转化为JQuery对象，由JQuery为我们处理
            var jData = jsonData['data'];
            $("<option>").attr("value", "-1").html("全选").appendTo(hos);
            $.each(jData, function (index, objVal) { //遍历对象数组，index是数组的索引号，objVal是遍历的一个对象。
                //val["属性"]可取到对应的属性值。
                $("<option>").attr("value", objVal["hospital_no"]).html(objVal["hospital_name"] + "(" + objVal["hospital_no"].toString(16) + ")").appendTo(hos);

            });

            hos.chosen({
                no_results_text: '没有数据',
                search_contains: true,
                allow_single_deselect: true,
                display_disabled_options: false
            });


        });


        hos.change(function () {
//            alert(hos.val());

        });

//===========================表格================================

        var date_min = $('#t_datemin');
        var date_max = $('#t_datemax');

        var table = $('#this_table').DataTable({
//            ajax: {
//                url: "",
//                data: function (d) {
//                    d.hos_no = hos.val();
//                    d.s_time = date_min.val();
//                    d.e_time = date_max.val();
//                }
//            },

            scrollY: 300,
            paging: false,
//            serverSide:true,
            processing: true,
            autoWidth: true,
            info: true,
            aaSorting: [[1, "asc"]],//默认第几个排序
            bStateSave: true,//状态保存
            aoColumnDefs: [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable": false, "aTargets": [0]}// 不参与排序的列
            ],
            columns: [
                {
                    "sClass": "text-center",
                    "data": "project_no",
                    "render": function (data, type, full, meta) {
                        return "<input type='checkbox'  class='checkchild' name='checkchild' value="+data+" />";
                    },
                    "bSortable": false
                },
//                {
//                    targets: -1,
//                    data: null,
//                    defaultContent: '<input type="checkbox"  class="checkchild" name="checkchild" />'
//
//                },
                {data: 'id'},
                {data: 'project_no'},
                {data: 'end_time'},
                {data: 'sign_doctor'},
                {data: 'patient_name'},
                {data: 'patient_age'},
                {data: 'patient_gender'},
                {data: 'section_id'},
                {data: 'sample_part'}
            ],
            language: {
                'emptyTable': '没有数据',
                'loadingRecords': '加载中...',
                'processing': '查询中...',
                'search': '检索:',
                'lengthMenu': '每页 _MENU_ 条',
                'zeroRecords': '没有数据',
                'paginate': {
                    'first': '第一页',
                    'last': '最后一页',
                    'next': '后一页',
                    'previous': '前一页'
                },
                'info': '共 _TOTAL_ 条',
                'infoEmpty': '没有数据',
                'infoFiltered': '(过滤总件数 _MAX_ 条)'
            }

        });

        $("button[name='btn_search']").bind("click", function () { //按钮 触发table重新请求服务器
            table.ajax.url("/projectcell/ajax_list?hos_no=" + hos.val() + "&s_time=" + date_min.val() + "&e_time=" + date_max.val()).load(function (e) {
                $('[name="checkchild"]').bind("click", function (e) { //按钮 触发table重新请求服务器
//            e.preventDefault();
                    e.stopPropagation();
                });
            }, false);
//            alert(1);
        });


        $(".checkall").click(function () {
            var check = $(this).prop("checked");
            $(".checkchild").prop("checked", check);
        });

//
        $('#this_table tbody').on('click', 'tr', function (e) {
            var tr = $(this);
            var checked = tr.find(".checkchild");
            var checkedValue = checked.prop("checked");
//            var index = tr.index();
            checked.prop("checked", !checkedValue);

        });



        function tableGetCheck() {
            var oldVal = textpro.value;
            var v_data = "";

            textpro.value = '';

            var num = 0;

            $('[name="checkchild"]').each(function () {
                if($(this).prop('checked')==true){
                    num++;
                    if(v_data==""){
                    v_data = $(this).val();
                    }
                    else{
                        v_data = v_data+"," +
                                " "+$(this).val();
                    }
                }
            });

//            alert(v_data);
            textpro.value = v_data;
            $('#total_num').html(num);

            if(oldVal != v_data){
                initDown();
            }

        }

        ///////////////////////////////tab//////////////




        function jumpSearch(){
            step_down.className = "step";
            step_search.className = "active step";

            $('#dv_search').show();
            $('#dv_down').hide();
        }

        function jumpDown() {
            step_down.className = "active step";
            step_search.className = "step";

            $('#dv_search').hide();
            $('#dv_down').show();

            tableGetCheck();
        }

        step_search.onclick = jumpSearch;

        step_down.onclick = jumpDown;


    });
</script>

</body>
</html>